.navbar {
    text-align: center;
}

a {
    text-decoration: none;
}

.navbar a {
    color: white;
    font-size: 1.2em;
}

.navbar {
    margin-bottom: 100px;
}
.nav-item {
    display: inline-block;
    margin: 5px 80px;
    word-spacing: 20px;
}

* {
    border: 1px solid black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
}

.social-media li,
.menu li {
    display: inline-block;
}

.body {
    background-image: url('../images/homebg.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.main-home {
    text-align: center;
}

.column {
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: 700px;
    width: 700px;
}

.div-item {
    position: absolute;
}

.home-text .white-text {
    color: white;
    font-size: 50px;
    text-align: left;
    margin-bottom: 50px;
}

.btns {
    text-align: left;
}

.phone-1 img {
    width: 400px;
}
