.square {
    height: 300px;
    width: 300px;
    background-color: #fff;
    position: absolute;
    z-index: 100;
}

.square-item {
    position: absolute;
    height: 150px;
    width: 150px;
    top: 0px;
    left: 0px; 
}

.square-1 {
    background-color: #7a45e5;
    animation: square-movement 2s normal 0s infinite;
    z-index: 1;

}

.square-2 {
    background-color: #fa5667;
    animation: square-movement 2s normal -0.5s infinite;
    z-index: 2;
}

.square-3 {
    background-color: #fac24c;
    animation: square-movement 2s normal -1s infinite;
    z-index: 1;
}

.square-4 {
    background-color: #1b91f7;
    animation: square-movement 2s normal -1.5s infinite;
    z-index: 2;
}

@keyframes square-movement {
  25% { left: 0; top: 100%; transform: translate(0%, -100%); }
  50% { left: 100%; top: 100%; transform: translate(-100%, -100%); }
  75% { left: 100%; top: 0; transform: translate(-100%, 0%); }
  100% { left: 0; top: 0; transform: translate(-0%, 0%); }
}